# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=968594686303c35a56d2a1f690197ea4
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=twitterStats
MYSQL_USER=twitterpass
MYSQL_PASSWORD=twitterpass

SYMFONY_APP_PATH=.
SYMFONY_APP_URL=symfony.local

ELK_VERSION_TAG=6.3.0
ELK_HOST=elasticsearch
ELK_PORT=9200